<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      World News
    </a>
    <a class="panel-block">
      Sports Update
    </a>
    <a class="panel-block">
      Pogba got infected by the Coronavirus
    </a>
    <a class="panel-block">
      Trump on black lives matter.
    </a>
  </nav>
</div>